body{
  background-color: #1a1a1a;
  padding-left: 80px;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

html {
  scroll-behavior: smooth;
}

*{
  cursor: url('./Images/cursor.png'), auto;
}

a:visited {
  text-decoration: none;
}